<h1>roverinputs Index Test Page</h1>

<h2>Mars Rover Landing page</h2>
	<div class="well">
		<h2>Welcome to the Mars Rover Challenge</h2>
		<p>Please click Next to provide inputs</p>
		<%= link_to "Next", new_path, :class => 'btn btn-primary' %>
	</div>